/* font-family: "Alfa Slab One", serif;*/

.hero {
  background: url(../img/header.jpg) no-repeat;
    background-size: cover;
    height: 0.5vh;
    min-height: 600px;
    color: white;
}
h1 {
    font-family: "Alfa Slab One", serif;
    color: white;
    font-size: 100px;
    text-align: left;
    text-shadow: 6px 6px 6px #000;
}
h2 {
    font-family: "Alfa Slab One", serif;
    color: black;
    
}
.lista-partidos {
    margin: 0;
    padding: 0;
    list-style: none;
}

.lista-partidos li {
    margin: 0px 0;
}

.lista-partidos li a {
    background-color: #fff;
    font-family: "Alfa Slab One", cursive;
    color: #737373;
    text-decoration: none;
    transition:all 0.2s ease-in-out;
    display: block;
}

.lista-partidos li a img {
    filter: grayscale();
    transition: all 0.2s ease-in-out;
    opacity: 0.8;
}

.lista-partidos li a:hover img {
    filter: none;
    opacity: 1;
    margin-right: 1.4rem;
}

.lista-partidos li a:hover {
    background-color: #f1f1f1;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    margin-right: 1.4rem;
    color: #000000;
}

h3 {
    font-size: small;
    color: rgb(0, 0, 104);
}

.mapa {
    width: 100%;
    aspect-ratio: 1.2;
}






    
  